@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 15, 23, 42;
    --color-text-muted: 100, 116, 139;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 203, 213, 225;
    --muted: 148, 163, 184;
    --color: 59, 130, 246;
    --color-button-accent: 59, 130, 246;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 226, 232, 240;
    --color-nvim-button: 95, 175, 215;
    --color-nvim-blue: 95, 175, 215;
    --color-nvim-green: 0, 150, 0;
  }

  .dark {
    --color-text-base: 248, 250, 252;
    --color-text-muted: 148, 163, 184;
    --color-text-inverted: 240, 240, 240;
    --color-fill: 2, 6, 23;
    --muted: 51, 65, 85;
    --color: 59, 130, 246;
    --color-button-accent: 59, 130, 246;
    --color-button-accent-hover: 0, 185, 255;
    --color-button-muted: 30, 41, 59;
    --color-nvim-blue: 95, 175, 215;
    --color-nvim-green: 135, 215, 135;
  }

  body {
    @apply bg-nvim-bg text-nvim-fg font-mono select-none;

    .c-cursor {
      position: fixed;
      z-index: 9999;
      pointer-events: none;
      border-radius: 200px;
      @apply bg-skin-hue/20;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-nvim-bg;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-nvim-gray rounded;
  }
  .modified-cursor-none {
    cursor: none !important;
  }
  .hover-grad-text {
    @apply text-center text-transparent bg-clip-text transition-all ease-in-out duration-700;
    background-image: linear-gradient(
      to right,
      theme("colors.slate.950"),
      theme("colors.slate.950") 33%,
      theme("colors.blue.500") 66%,
      theme("colors.blue.400"),
      theme("colors.blue.500"),
      theme("colors.blue.600"),
      theme("colors.blue.700")
    );
    background-size: 300% 100%;
    background-position: top left 100%;
  }

  @media screen and (min-width: 640px) {
    .hover-grad-text {
      background-position: top left 0%;
    }
    .hover-grad-text:hover {
      background-position: top right 0%;
    }
  }

  .animate-marker {
    animation: marker 500ms ease-in-out;
  }

  @keyframes marker {
    0% {
      transform: scaleY(0);
      transform-origin: bottom;
    }
    30% {
      transform: scaleY(1.2);
      transform-origin: bottom;
    }
    60% {
      transform: scaleY(0.8);
      transform-origin: bottom;
    }
    100% {
      transform: scaleY(1);
      transform-origin: bottom;
    }
  }
}